<ion-view title="Page 4" id="page4">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/1K1NZcNiQhi2GxcwVRYV_Agustin_dominguez_oviedo.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="page4-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Agustin Dominguez Oviedo </p>

      <p style="color:#000000;">Director de carrera</p>

      <p style="color:#000000;">Ing en Sistemas Digitales y Robotivca</p>
    </div>
    <a ui-sref="page1()" id="page4-button6" class="button button-positive button-block">Return to the main page</a>
  </ion-content>
</ion-view>