<ion-view title="Page 1" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/ePp9FivT2ixfwApsARtg_mamonsita.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="page2()" id="page1-button1" class="button button-positive button-block">Stuff</a>
    <a ui-sref="page3()" id="page1-button2" class="button button-positive button-block">Video</a>
    <a ui-sref="page4()" id="page1-button3" class="button button-positive button-block">Surprise</a>
  </ion-content>
</ion-view>