<ion-view title="Page 2" id="page2">
  <ion-content padding="true" class="has-header">
    <h1 id="page2-heading1" style="color:#000000;text-align:center;">Los Nintendos</h1>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <a style="display:block;" href-inappbrowser=" https://open.spotify.com/track/2RjjiDNRP2EQ9gJo7Sx2WW?si=Iqki7x9pSH6915a-QSD3sg">
        <img src="img/OnPEVFAtTHSLh3egcQHM_spotify.jpg" style="display:block;width:100%;height:auto;">
      </a>
    </div>
    <p>

    </p>
    <a ui-sref="page1()" id="page2-button4" class="button button-positive button-block">Return to the main page</a>
  </ion-content>
</ion-view>